.auth {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(45deg, rgb(152, 207, 195), rgb(86, 181, 184));
	display: flex;
	align-items: center;
	justify-content: center;
	&__title{
		padding: 20px 0px;
	}
	&__wrapper {
		background-color: #fff;
		padding: 25px 40px;
		min-width: 400px;
		border-radius: 8px;
	}
	&__input-container{
		display: flex;
		flex-direction: column;
	}
	&__form {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		input{
			font-size: 20px;
			padding: 6px 0px 6px 5px;
			margin-bottom: 20px;
		}
		button {
			min-height: 30px;
			font-size: 20px;
			margin-top: 10px;
			padding: 5px 10px;
		}
		label{
			font-size: 18px;
			margin-bottom: 5px;
		}
	}
	&__tip{
		font-size: 12px;
		margin-top: 12px;
		text-align: center;
		& a {
			color: blue;
			text-decoration: underline;
		}
	}
}